<!-- HEADER -->
<div style="display:flex; justify-content: center;">
    <div style="width: 80vw;">
        <app-header></app-header>
    </div>
</div>

<!-- NAV BAR -->
<div class="mt-3 mb-2" style="display:flex; justify-content: center;">
    <div style="width: 80vw;">

        <div class="container text-center">
            <div class="row" style="align-items: center;">
                <div class="col-md-4 offset-md-3">CUSTOMERS</div>
                <div class="col-md-4 offset-md-1">
                    <button type="button" class="btn btn-primary">Primary</button>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- LIST CUSTOMERS | STYLE -->
<div class="my-2" style="display:flex; justify-content: center;">
    <div style="width: 80vw;">
    <div>
        <button>A</button>
        <button>B</button>
    </div>
    </div>
</div>
<!-- LIST CUSTOMERS -->
<div class="my-2" style="display:flex; justify-content: center;">
    <div style="width: 80vw;">

        <div class="container text-center">
            <div class="row">
                LIST CUSTOMERS
            </div>
        </div>

    </div>
</div>

 <!-- Footer -->
<div style="display:flex; justify-content: center;">
    <div style="width: 80vw;">
        <app-footer></app-footer>
    </div>
</div>