main  {
    height: 100vh;
    background: url('../../../../assets/img/water.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.form-container {
    max-width: 350px;
    padding: 1rem;
}
form {
    border: 2px solid #000;
    padding: 13px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
}