main  {
    width: 100wh;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #000; */
}

#imageLogin {
    background-color: red;
    min-width: 350px;
    background: url('../../../../assets/img/backimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    
}


#formLogin {
    /* background: rgb(255, 255, 255); */
    height: 300px;
    min-width: 25rem;
}